<head>
	<script src="/js/calendar.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>
{{@async head() /}}
<div>
	<div class="title">{{it.therapist.name}}</div>
	<div>
		<div class="hidden">Общие настройки</div>
		<div>
			<div>Месяц</div>
			<select id="head_month" name="month">
				{{@each (it.months)=>m}}
					<option value="{{m.MY}}">{{m.M}}</option>
				{{/each}}
			</select>
		</div>
		<div class="hidden">
			<div>Выходные</div>
			<div>
				<input type="checkbox" id="day_off_monday" name="day_off_monday" value="MD">
				<label for="day_off_monday">Понедельник</label>
				<input type="checkbox" id="day_off_tuesday" name="day_off_tuesday" value="TU">
				<label for="day_off_tuesday">Вторник</label>
				<input type="checkbox" id="day_off_wensday" name="day_off_wensday" value="WE">
				<label for="day_off_wensday">Среда</label>
				<input type="checkbox" id="day_off_thursday" name="day_off_thursday" value="TH">
				<label for="day_off_thursday">Четверг</label>
				<input type="checkbox" id="day_off_friday" name="day_off_friday" value="FR">
				<label for="day_off_friday">Пятница</label>
				<input type="checkbox" id="day_off_saturday" name="day_off_saturday" value="SA">
				<label for="day_off_saturday">Суббота</label>
				<input type="checkbox" id="day_off_sunday" name="day_off_sunday" value="SU">
				<label for="day_off_sunday">Воскресенье</label>
			</div>
		</div>
	</div>
	<div class="left time_legend">
		<div>Время</div>
		<div>00:00 - 01:00</div>
		<div>01:00 - 02:00</div>
		<div>02:00 - 03:00</div>
		<div>03:00 - 04:00</div>
		<div>04:00 - 05:00</div>
		<div>05:00 - 06:00</div>
		<div>06:00 - 07:00</div>
		<div>07:00 - 08:00</div>
		<div>08:00 - 09:00</div>
		<div>09:00 - 10:00</div>
		<div>10:00 - 11:00</div>
		<div>11:00 - 12:00</div>
		<div>12:00 - 13:00</div>
		<div>13:00 - 14:00</div>
		<div>14:00 - 15:00</div>
		<div>15:00 - 16:00</div>
		<div>16:00 - 17:00</div>
		<div>17:00 - 18:00</div>
		<div>18:00 - 19:00</div>
		<div>19:00 - 20:00</div>
		<div>20:00 - 21:00</div>
		<div>21:00 - 22:00</div>
		<div>22:00 - 23:00</div>
		<div>23:00 - 24:00</div>
	</div>
	{{@each (it.months)=>m}}
		<div class="left month_sheet" data-val="{{m.MY}}">
			<div class="month_sheet_header">
				{{@each (m.days)=>d}}
					<span class="left day_colum day_of_week_{{d.day}}"><span class="day_colum_head pointer">{{d.date}}</span>
						{{@each (d.hours)=>h}}
							<div class="row"> <input value="{{h.num}}" {{@if (h.appointment)}} title="{{h.appointment.name}} {{h.appointment.phone}}" disabled {{/if}} class="slot" name="slot_{{h.hour}}" type="checkbox" {{@if (h.work)}}checked{{/if}}/></div>
						{{/each}}
					</span>
				{{/each}}
			</div>
		</div>
	{{/each}}
</div>
<div><input type="submit" name="submit_schedule" value="Отправить"/></div>