<script src="/js/main.js"></script>
<div>
    <div class="head_menu" data-component="shared">
        {{@each(it.dachboard)=>val}}
        <div class="head_menu_block">
            <div class="head_menu_block_head">{{val.topicName}}</div>
            {{@each(val.elements)=>el}}
                <div class="head_menu_block_item">
                    <a href="{{el.route}}">{{el.displayName}}</a>
                </div>
            {{/each}}
        </div>
        {{/each}}
        <div class="head_menu_block"><a href="https://4help.com.ua/education_materials">Учебные материалы</a></div>    
    </div>
    {{@if(it.isAuthorized == true)}}
        <div class="mini_my_account"><button id="logout">{{it.msg.logout}}</button></div>
    {{/if}}
</div>