<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
<form id="appointment_form" action="http://localhost/data">    
    <input id="appointment_name" placeholder="{{name}}"/>
    <input id="appointment_phone" placeholder="{{phonenumber}}"/>
    <select id="how_to_call">
        <option value="0">{{howtocallviber}}</option>
        <option value="1">{{howtocalltelegram}}</option>
        <option value="2">{{howtocallwhatsapp}}</option>
        <option value="3">{{howtocallcall}}</option> 
    </select>
    <input id="appointment_date" readonly value="{{choosedate}}"/>
    <select disabled="disabled" id="appiontment_time">
        <option value="-1">{{choosetime}}</option>
        <option value="0">00-01</option>
        <option value="1">01-02</option>
        <option value="2">02-03</option>
        <option value="3">03-04</option>
        <option value="4">04-05</option>
        <option value="5">05-06</option>
        <option value="6">06-07</option>
        <option value="7">07-08</option>
        <option value="8">08-09</option>
        <option value="9">09-10</option>
        <option value="10">10-11</option>
        <option value="11">11-12</option>
        <option value="12">12-13</option>
        <option value="13">13-14</option>
        <option value="14">14-15</option>
        <option value="15">15-16</option>
        <option value="16">16-17</option>
        <option value="17">17-18</option>
        <option value="18">18-19</option>
        <option value="19">19-20</option>
        <option value="20">20-21</option>
        <option value="21">21-22</option>
        <option value="22">22-23</option>
        <option value="23">23-24</option>
    </select>
    <input type="submit" id="appointment_submit" value="{{send}}"/>
</form>