<div>
    <p>Поступил новый заказ!</p>
    <table>
        <tr>
            <td>Имя</td><td>Телефон</td> <td>Дата</td> <td>Время</td>
        </tr>
        <tr>
            <td>{{name}}</td><td>{{phone}}</td><td>{{date}}</td><td>{{time}}</td>
        </tr>        
    </table>
    <p><a href="{{appoinmentListLink}}">Список заказов</a></p>
</div>